@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Unbounded;
    src: url("../assets/fonts/Unbounded-Regular.woff2") format("woff2");
    font-weight: regular;
}

@font-face {
    font-family: Unbounded;
    src: url("../assets/fonts/Unbounded-Bold.woff2") format("woff2");
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Unbounded !important;
    font-weight: normal !important;
}
